<nav class="navbar-dark bg-inverse">               
  <div class="container" >
      <a routerLink="" class="navbar-brand"><img src="" alt=""> </a>
      <ul class="nav navbar-nav ">
          <li class="nav-item dropdown" >
              
            <a href="#" class="nav-link dropdown-toggle" id="nav-dropdown" data-toggle="dropdown" aria-expanded="false" *ngIf="auth.user | async as user" >{{ user.displayName  }}</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown">
            <a href="#" class="dropdown-item">Sign Out </a>
                  
              </div>          
          </li>
      </ul>
  </div> 
</nav>

